body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Atami-Display-Bold.ttf' fantasy;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.home-text {
  text-align: center;
}

.navbar {
  background-color: #99C6C0;
}

.deep {
  font-weight: bold;
  font-style: italic;
}

.sobre-mi {
  font-size: 12px;
}

.formato {
  font-size: 10px
}

.hero-image {
  background-image:  url("../images/edit.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image-2 {
  background-image:  url("../images/edit-3.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-3 {
  background-image:  url("../images/edit-4.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
